ion-content {
  --padding-top: 40%;
  --padding-start: 10%;
  --padding-end: 10%;
  --background: url('../../../assets/wallpapers/background-360x640.jpg') 0 0/100% 100% no-repeat;
  --padding-top: 40%;

  // Medium devices (tablets in portrait, small devices in landscape)
  @media (min-width: 768px) {
    --background: url('../../../assets/wallpapers/background-768x1024.jpg') 0 0/100% 100% no-repeat;
    --padding-top: 35%;
  }

  // Large devices (tablets in landscape, small desktops)
  @media (min-width: 1024px) {
    --background: url('../../../assets/wallpapers/background-1024x768.jpg') 0 0/100% 100% no-repeat;
    --padding-top: 20%;
  }

  // Extra large devices (large desktops)
  @media (min-width: 1280px) {
    --background: url('../../../assets/wallpapers/background-1280x1024.jpg') 0 0/100% 100% no-repeat;
    --padding-top: 15%;
  }

  // Extra extra large devices (Full HD desktops)
  @media (min-width: 1920px) {
    --background: url('../../../assets/wallpapers/background-1080x1920.jpg') 0 0/100% 100% no-repeat;
    --padding-top: 10%;
  }
}


.input-group {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}

.errors {
  font-size: small;
  color: #fff;
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo-container img {
  width: auto;
  // width: 150px;
  // height: 150px;
}
.content-container {
  max-width: 850px; /* Este valor puede variar dependiendo de lo que prefieras */
  margin: 0 auto; /* Esta regla centra el contenedor en la página */
  padding: 0 20px; /* Esto agrega algo de espacio a los lados para prevenir que el contenido toque el borde de la pantalla en pantallas pequeñas */
}

.forgotPass{
  font-size: small;
  text-decoration: underline;
  // font-style: ;
}