<ion-header>
  <ion-toolbar color="jm_inverse">
    <ion-title class="semi-bold-font">JoshMusic app - Empleados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Creamos un nuevo contenedor -->
  <div class="content-container">

  <div class="logo-container">
    <img src="../../../assets/jm_employees_logo_4000x1000.png" alt="logo">
  </div>

  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="input-group">
      <ion-item>
        <ion-input type="email" placeholder="Usuario o correo electrónico" formControlName="email"></ion-input>
      </ion-item>

      <div *ngIf="(email?.dirty || email?.touched) && email?.errors" class="errors">
        <span *ngIf="email?.errors?.['required']">Igresa tu nombre de usuario o correo electronico</span>
      </div>
      <!-- <div *ngIf="(loginCredential?.dirty || loginCredential?.touched) && loginCredential?.errors" class="errors">
        <span *ngIf="loginCredential?.errors?.['required']">Igresa tu nombre de usuario o correo electronico</span>
      </div> -->


      <ion-item>
        <ion-input id="input_password" type="password" placeholder="Contraseña" formControlName="password" (keyup)="onKeyUp($event)"></ion-input>
        <ion-icon id="eyeCurrentPass" 
        class="icon-eye" 
        slot="end" 
        name="eye" 
        (click)="togglePassword('input_password','eyeCurrentPass')">
        </ion-icon>
      </ion-item>
      <div *ngIf="(password?.dirty || password?.touched) && password?.errors" class="errors">
        <span *ngIf="password?.errors?.['required']">La contraseña es requerida</span>
        <span *ngIf="password?.errors?.['minlength']">La contraseña debe tener 6 caracteres</span>
      </div>
    </div>

    <ion-button color="jm_primary" type="submit" expand="block" [disabled]="!credentials.valid || !canTryAgain">Iniciar Sesión</ion-button>
    <ion-button class="forgotPass" type="button" expand="block" color="jm_primary" fill="clear">¿Olvidatse la contraseña?</ion-button>

    <!-- <ion-button type="button" expand="block" color="tertiary">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Sign in with Google
    </ion-button>
    <ion-button type="button" expand="block" color="tertiary">
      <ion-icon name="logo-apple" slot="start"></ion-icon>
      Sign in with Apple
    </ion-button> -->

  </form>
  </div>
</ion-content>
